{% extends 'base.html' %}

{% block content %}
  <h1>{{ detail.name }}</h1>
  <a href="{% url 'todo_list_update' detail.id %}">Edit</a>
  <p>
    <a href="{% url 'todo_list_delete' detail.id %}">
      Delete
    </a>
  </p>
  <h2>Tasks</h2>

  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {% for de in detail.items.all %}
        <tr>
          <td>
            <a href="{% url 'todo_item_update' de.id %}">{{ de.task }}</a>
          </td>
          <td>{{ de.due_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
