{% extends 'base.html' %}

{% block content %}
<main>
  <div>
    <h2>Create New Todo Item</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Create</button>
    </form>
  </div>
</main>

{% endblock %}
